<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Poli Online Store</title>
</head>

<body>
  <div class="d-flex justify-content-end">
    <div class="mx-2">
      <a href="#" class="mx-2 btn text-primary">Log in</a>
      <a href="#" class=" btn text-primary">Registro</a>
    </div>
  </div>
  <!-- Image and text -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary d-flex justify-content-center">
    <div class="d-flex justify-content-around">
      <div class="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#home"><b>Inicio</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white mx-3" href="#we"><b>Nosotros</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-white" href="#contact"><b>Contáctanos</b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </nav>
</body>
<div class="div" id="home">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="myimage" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div>
        </div>
      </div>
</div>
<div id="we">
      
      <div class="row">
        <div class="my-2">
          <h4 class="text-center">Nosotros</h4>
        </div>
        <div class="mx-5">PoliOnlineStore es un software integrado multiusuario desarrollado para la gestión de productos.</div>
        </div>

  <div class="row">
    <div class="my-2">
      <h4 class="text-center">¿Por qué elegir PoliOnlineStore?</h4>
    </div>
    <div class="d-flex">
      <div class="card mx-5 my-5" style="width: 18rem;">
        <img class="card-img-top" src="../../img/slide1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Administra tu empresa en un solo sitio.</p>
        </div>
      </div>
      <div class="card mx-5 my-5" style="width: 18rem;">
        <img class="card-img-top" src="../../img/slide1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Vende tus productos y gestiona su logistica.</p>
        </div>
      </div>
      <div class="card mx-5 my-5" style="width: 18rem;">
        <img class="card-img-top" src="../../img/slide1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Genera reportes en tiempo real en un mismo sitio.</p>
        </div>
      </div>
      <div class="card mx-5 my-5" style="width: 18rem;">
        <img class="card-img-top" src="../../img/slide1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Gráficos estadísticos gestión de ventas y compras.</p>
        </div>
      </div>
    </div>

    <div class="d-flex mx-5">
      Genera un valor agregado para tu negocio, y ten en control de tus productos.
    </div>
  </div>
</div>

<div id="contact">
  <div class="d-flex">
    <a href="" class="btn text-white text-center"><b>Contáctanos</b></a>
  </div>
 <div class="d-flex justify-content-center text-white bg-primary">
 <b>@Politecnico Grancolombiano - Ingeniería de software</b>
 </div>
</div>
<script>
  $('#myCarousel').on('slide.bs.carousel', function () {
    // do something…
  })

</script>

</html>
